<div class="content-all vw-100 vh-100 row align-items-center justify-content-center" style="background-image: url(/assets/img/backgrounds/background1.jpg);" >
    <div class="card-coteiner p-4 rounded shadow col-xl-3 col-10 row justify-content-center">
        <div class="row justify-content-center mb-3 col-12">
            <img width="140" src="/assets/img/logo/logo2.png" alt="BINTERACTION">
        </div>
        <form nz-form [formGroup]="formLogin" class="login-form col-12" (ngSubmit)="onLogin()">
            <nz-form-item>
                <nz-form-control nzErrorTip="Ingrese un correo">
                    <nz-input-group nzPrefixIcon="user">
                        <input type="email" nz-input formControlName="email" placeholder="Correo" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Ingrese una contraseña">
                    <nz-input-group nzPrefixIcon="lock">
                        <input type="password" nz-input formControlName="password" placeholder="Contraseña" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>                
                    <button nz-button class="login-form-button" [nzType]="'primary'">Ingresar</button>                
                </nz-form-control>
            </nz-form-item>
            <div class="col-12">
                <p class="text-center">{{response}}</p>
            </div>
        </form>
    </div>


</div>