/* FONTS */

$fontM: MyriadPro;
$fontT: TrebuchetMS;


// COLORS 


$color1: #74dbef;
$color2: #0063b9;
$color3: #264e86;
$color4: #d7385e;
$color5: #A9ABAE;
$color6: #272724;
$color7: #E1E9F4;
$color8: #565D68;
$color9: #C1B780;
