/* FONTS */

$fontM: MyriadPro;
$fontT: TrebuchetMS;


// COLORS 


$color1: #00bdaa;
$color2: #400082;
$color3: #fe346e;
$color4: #f1e7b6;
$color5: #A9ABAE;
$color6: #272724;
$color7: #E1E9F4;
$color8: #565D68;
$color9: #C1B780;
