<header class="vw-100" class="shadow row justify-content-between align-items-center p-3 m-0">
    <div>
        <img  width="150" src="/assets/img/logo/logo2.png" class="" alt="BINTERACTION">
    </div>

    <div>
        <ul nz-menu nzMode="horizontal">
            <li [routerLink]="['/']" [nzSelected]="active1" nz-menu-item>
                <i nz-icon nzType="dashboard" nzTheme="outline"></i>
                Dashboard
            </li>
            <li [routerLink]="['/upload-data']" [nzSelected]="active2" nz-menu-item>
                <i nz-icon nzType="database" nzTheme="outline"></i>
                Datos
            </li>           
        </ul>
    </div>

    <div class="mr-4">
        <i (click)="logout()" title="Salir" nz-icon nzType="logout" nzTheme="outline" class="f-21 cursor"></i>
    </div>
    
</header>