
    <input (keyup)="validate()" nz-input placeholder="Ingrese el nombre del campo" [(ngModel)]="inputName" />   


    <nz-select [class]="'mt-2'" [(ngModel)]="typeLink" (ngModelChange)="valueLink=typeLink" nzAllowClear nzPlaceHolder="Seleccione el tipo">
        <nz-option nzValue="redirect" nzLabel="Redirección"></nz-option>
        <nz-option nzValue="whatsapp" nzLabel="Whatsapp"></nz-option>
        <nz-option nzValue="tel" nzLabel="Teléfono"></nz-option>
        <nz-option nzValue="email" nzLabel="Correo"></nz-option>
    </nz-select>

    <ng-container *ngIf="valueLink">
        <ng-container [ngSwitch]="valueLink">
            <ng-container *ngSwitchCase="'redirect'">
                <input (keyup)="validate()" [class]="'mt-2'" nz-input placeholder="Ingrese la url" [(ngModel)]="inputValue" />
            </ng-container>
            <ng-container *ngSwitchCase="'whatsapp'">
                <input (keyup)="validate()" [class]="'mt-2'" nz-input placeholder="Ingrese número de whatsapp" nzOverlayClassName="numeric-input" nz-tooltip="Ejem: 56987654321"  nzPlacement="topLeft" [(ngModel)]="inputValue" />
                <input (keyup)="validate()" [class]="'mt-2'" nz-input placeholder="Ingrese mensaje de bienvenida" [(ngModel)]="inputValue2" />
            </ng-container>
            <ng-container *ngSwitchCase="'tel'">
                <input (keyup)="validate()" [class]="'mt-2'" nz-input placeholder="Ingrese número de teléfono" nzOverlayClassName="numeric-input" nz-tooltip="Ejem: 56987654321"  nzPlacement="topLeft" [(ngModel)]="inputValue" />
            </ng-container>
            <ng-container *ngSwitchCase="'email'">
                <input (keyup)="validate()" [class]="'mt-2'" nz-input placeholder="Ingrese correo" nzOverlayClassName="email-input" [(ngModel)]="inputValue" />
            </ng-container>            
        </ng-container>
    </ng-container>

    




<div *ngIf="changing" id="changing">
    <ng-template #indicatorTemplate><i nz-icon nzType="loading" style="font-size: 24px;"></i> </ng-template>
    <nz-spin nzSimple [nzIndicator]="indicatorTemplate"> </nz-spin>
</div>